<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.exam.mapper.TodoMapper">
	<select id="selectTodo" parameterType="String" resultType="map">
  		SELECT ROWNUM
		   	 , USERID
			 , TODO
			 , REGDATE
		  FROM todolist
		 WHERE USERID = #{userId} AND REGDATE = DATE_FORMAT(NOW(), '%Y%m%d')
	</select>
	
	<insert id="writeTodo" parameterType="TodoVO">
		INSERT INTO todolist (USERID, TODO, REGDATE, REGTIME)
		VALUES(#{userId}, #{todo}, DATE_FORMAT(NOW(), '%Y%m%d'), NOW())
	</insert>
	
	<select id="addTodo" parameterType="String" resultType="map">
		SELECT ROWNUM
		   	 , USERID
			 , TODO
			 , REGDATE
		  FROM todolist
		 WHERE  ROWNUM = (SELECT MAX(ROWNUM) FROM todolist WHERE USERID = #{userId} AND REGDATE = DATE_FORMAT(NOW(), '%Y%m%d'));
	</select>
	
	<delete id="deleteTodo" parameterType="TodoVO">
		DELETE FROM todolist
		WHERE userId = #{userId} AND ROWNUM = #{rowNum}
	</delete>
</mapper>